*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
  position: relative;
  font-family: "Orbitron", sans-serif;
  font-size: 20px ;
  background-color: rgb(37, 66, 66) ;
  
}


header{
  border: 20px double cyan; 
   position: fixed;
   top: 0;
   width: 100%;
   padding: 20px;
   text-align: center;
  color: rgb(0, 248, 174);
  background-color: black;
  /* adds style and fixed element to main header  */
 
}


nav{
     border: 10px solid rgb(255, 0, 140);  
     border-radius: 20px;
     padding: 7px;
     width:100% ;
     /* adds style to nav elements in header */
     
}


ul {
display: flex;
list-style: none;
width: 100%;
justify-content: space-between;
/* adds space between nav elements */

}


a {
  color: cyan;
  font-size: 30px;
  /* adds font style to nav elements */
}

div {
   margin-top: 350px;
     /*adds space between header and img  */
}

img{
  width:100%;
  height: 100%;

}


figure{
  max-width: 90% ;

}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
  padding:5%;
  border: 20px double cyan;
  font-size: 30px;
  color:cyan;
  /* adds style elements to main section */
  
}

p{
border: 15px solid  rgb(255, 0, 140);
border-radius: 20px;
margin-block: 25px;
padding: 20px;
/* adds style to main text */

}

.container {
background-color: black;
/* changes background color for all main texts */

}
 aside { 
  border: 20px double cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 margin: 5%;
  padding:3%;
  /* adds style to contact me section */
}

h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 45px;
  color: rgb(0, 248, 174);
/* adds style to contact me header */
}


form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  padding: 15px;
  border: 5px solid rgb(255, 0, 140);
  border-radius: 20px;
  font-size: 25px;
  color: cyan;
  /* styles form */
}

.form-wrapper {
  flex-direction: column;
  justify-content:center;
  align-items: start;
  /* centers and stacks form */

}



input, 
textarea {
 display: inline-block;
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #ad1774;
}


button {
 margin-top: 10px;
 margin-left: 36%;
  height: 40px;
  width: 120px;
  background-color: rgb(0, 248, 174);
  color:black;
 /* adss button style */

}


.text-center {
  text-align: center;
  /* centers text for class */
}



.text-right {
  text-align: right;
  /* moves text to the right class */

}

